.restaurants_container {
  padding: 5px 10px;
  margin-top: 50px;
  font-weight: 400;
  /* text-decoration: underline; */
}

.restaurants_container h3:hover {
  cursor: pointer;
  text-decoration: underline;
}

.restaurant_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant_card {
  display: flex;
  gap: 20px;
  width: 250px;
  /* border: 1px solid grey; */
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1);
  align-items: center;
  margin-top: 5px; /**/
}

.restaurant_card .avatar {
  width: 60px;
  height: 60px;
  /* background-color: yellow; */
  border-radius: 50%;
}

.restaurant_card .restaurant_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.restaurant_card .restaurant_info p:first-child {
  font-weight: bold;
}

.see_more {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: end;
  color: #ed1c16;
}

.see_more:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #f6544e;
}
