.btn {
    background-color: #ed1c16;
    border: 0;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
  }
  
  .btn:hover {
    background-color: #000;
    cursor: pointer;
    transition: 0.5s ease all;
  }
  