.search_container {
  /* background-color: rebeccapurple; */
  margin-top: 20px;
  text-align: center;
}

.search_container .container_input {
  padding: 30px 0;
}

.container_input input {
  padding: 5px;
  width: 30%;
  margin-right: 10px;
  border-radius: 3px;
}
